*.log
*.tmp
*.bak
*.swp
*.zip
*.tar.gz
*.sql
*.sql.gz
.DS_Store
node_modules/
vendor/
.git/
.idea/
.vscode/
development/
dev/
dist/
wp-*/
wp-*.*
wp-config-*.*
license.txt
index.php
xmlrpc.php
readme.html
phpstan.*