parameters:
    level: 6
    paths:
        - wp-content/themes/sog-foundation-parent
        - wp-content/plugins/sog-api
        - wp-content/plugins/sog-saml-conf
        - wp-content/plugins/sog-user-import
        - wp-content/plugins/unc-cookie-banner
        - wp-content/plugins/unc-utility-bar