# Deny direct web access to all files in this directory.
# Apache 2.4+
<IfModule mod_authz_core.c>
    Require all denied
</IfModule>

# Apache 2.2 and below
<IfModule !mod_authz_core.c>
    Order allow,deny
    Deny from all
</IfModule>
