:is(
	.sog-rebrand__header[data-sog-rebrand-component="header"],
	.sog-rebrand__footer[data-sog-rebrand-component="footer"],
	.sog-rebrand__utility-bar[data-sog-rebrand-component="utility-bar"]
) {
	/* -------------------------------------------------------
	 * Header core: simple-text
	 * Template: core-simple-text.php
	 * ------------------------------------------------------- */

	& .sog-rebrand__header-core--simple-text .sog-rebrand__brand-title.school-name {
		font-size: 1.875rem;
		font-weight: 700;
		font-style: normal;
		letter-spacing: normal;
		line-height: 1.875rem; /* 100% */
		font-family: var(--sog-rebrand-header-school-name-font, var(--sog-rebrand-font-body));
		color: var(--sog-rebrand-header-school-name-color, inherit);
	}

	& .sog-rebrand__header-core--simple-text .sog-rebrand__brand-title.site-name,
	& .sog-rebrand__header-core--simple-text .sog-rebrand__brand-title.site-tagline {
		font-family: var(--sog-rebrand-font-body);
		font-size: 1rem;
		font-weight: 600;
		font-style: normal;
		letter-spacing: normal;
		line-height: 0.06rem; /* 1.25; */
		white-space: nowrap;
	}
}

.sog-rebrand__header[data-sog-rebrand-component="header"] {
	& .sog-rebrand__header-core--simple-text .sog-rebrand__header-shell {
		min-height: 3.8rem;
	}

	& .sog-rebrand__header-core--simple-text .sog-rebrand__brand-title {
		font-family: var(--sog-rebrand-font-body);
		font-size: 1.875rem;
		font-weight: 700;
		letter-spacing: normal;
		line-height: 1.25;
		white-space: nowrap;
	}

	& .sog-rebrand__header-core--simple-text .sog-rebrand__menu a {
		font-family: var(--sog-rebrand-font-heading);
		font-size: 1rem;
		font-weight: 700;
		text-transform: capitalize;
	}
}
