:is(
	.sog-rebrand__header[data-sog-rebrand-component="header"],
	.sog-rebrand__footer[data-sog-rebrand-component="footer"],
	.sog-rebrand__utility-bar[data-sog-rebrand-component="utility-bar"]
) {
    /* & .sog-rebrand__header-core--simple-text-vertical-line-special-btn-navigation-name-inline .sog-rebrand__inner {
		max-width: none !important;
	} */

	& .sog-rebrand__header-core--simple-text-vertical-line-special-btn-navigation-name-inline .sog-rebrand__header-shell {
		display: grid;
		/* grid-template-columns: repeat(3, 1fr);
		/* grid-template-rows: repeat(3, 1fr);
		grid-column-gap: 1.25rem;
		grid-row-gap: 0.625rem; */
	}

	& .sog-rebrand__header-core--simple-text-vertical-line-special-btn-navigation-name-inline .sog-rebrand__header-shell .sog-rebrand__brand-cluster--nav-special-btn-names-inline {
		display: inherit;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(1, 1fr);
		grid-column-gap: 1.25rem;
		grid-row-gap: 0.625rem;
		align-items: center;
		grid-column: span 3 / span 3;
    	grid-row-start: 3;
	}

	& .sog-rebrand__header-core--simple-text-vertical-line-special-btn-navigation-name-inline .sog-rebrand__brand-cluster--nav-special-btn-names-inline .sog-rebrand__desktop-nav {
		grid-column: span 2 / span 2;
		display: inherit;
		/* grid-template-columns: repeat(2, 1fr); */
        grid-template-columns: 672px 70px;
		grid-template-rows: repeat(1, 1fr);
        height: 43px;
	}

	& .sog-rebrand__header-core--simple-text-vertical-line-special-btn-navigation-name-inline .sog-rebrand__brand-cluster--nav-special-btn-names-inline .sog-rebrand__desktop-nav .sog-rebrand__nav {
		align-self: center;
        height: inherit;
	}

    & .sog-rebrand__header-core--simple-text-vertical-line-special-btn-navigation-name-inline .sog-rebrand__brand-cluster--nav-special-btn-names-inline .sog-rebrand__desktop-nav .sog-rebrand__nav .sog-rebrand__menu--header-main {
        justify-content: center !important;
    }

	& .sog-rebrand__header-core--simple-text-vertical-line-special-btn-navigation-name-inline .sog-rebrand__brand-cluster--nav-special-btn-names-inline .sog-rebrand__header-special-button {
		/* width: 4.27063rem;
		height: 2.5rem;
		align-self: flex-end; */
		place-self: center;
        height: inherit;
	}

	& .sog-rebrand__header-core--simple-text-vertical-line-special-btn-navigation-name-inline .sog-rebrand__brand-cluster--nav-special-btn-names-inline .sog-rebrand__menu-toggle {
		align-self: flex-end;
        height: inherit;
	}

	& .sog-rebrand__header-core--simple-text-vertical-line-special-btn-navigation-name-inline .sog-rebrand__header-shell .sog-rebrand__header-separator {
		display: inherit;
		grid-column: span 3 / span 3;
		grid-row-start: 2;
        /* height: inherit; */
	}

	& .sog-rebrand__header-core--simple-text-vertical-line-special-btn-navigation-name-inline .sog-rebrand__header-shell {
		grid-template-columns: 1fr;
		min-height: unset;
        /* height: inherit; */
	}

	& .sog-rebrand__header-core--simple-text-vertical-line-special-btn-navigation-name-inline .sog-rebrand__header-shell .sog-rebrand__header-separator {
		margin: 0 !important;
	}

	& .sog-rebrand__brand-cluster--nav-special-btn-names-inline {
		align-items: center;
		display: flex;
		flex-direction: row;
		gap: 1.5rem;
		min-width: 0;
	}

	& .sog-rebrand__brand-cluster--nav-special-btn-names-inline .sog-rebrand__brand-cluster--site-name-description {
		flex: 1 1 0;
		min-width: 0;
        height: inherit;
	}

	& .sog-rebrand__brand-cluster--nav-special-btn-names-inline .sog-rebrand__desktop-nav {
		flex: 0 0 auto;
	}

    & .sog-rebrand__header-core--simple-text-vertical-line-special-btn-navigation-name-inline .school-name {
		font-family: var(--sog-rebrand-header-school-name-font-family, 'Open Sans', Arial, sans-serif);
		color: var(--sog-rebrand-header-school-name-color, inherit);
		font-size: var(--sog-rebrand-header-school-name-font-size, 1.875rem);
		font-style: var(--sog-rebrand-header-school-name-font-style, normal);
		font-weight: var(--sog-rebrand-header-school-name-font-weight, 700);
		text-transform: var(--sog-rebrand-header-school-name-text-transform, none);
		line-height: 1.875rem; /* 100% */
		grid-column: span 3 / span 3;
	}

	& .sog-rebrand__header-core--simple-text-vertical-line-special-btn-navigation-name-inline .sog-rebrand__brand-cluster--site-name-description .site-name,
	& .sog-rebrand__header-core--simple-text-vertical-line-special-btn-navigation-name-inline .sog-rebrand__brand-cluster--site-name-description a .site-name {
		font-family: var(--sog-rebrand-header-site-name-font-family, 'Montserrat', Arial, sans-serif);
		color: var(--sog-rebrand-header-text-color, inherit);
		font-size: var(--sog-rebrand-header-site-name-font-size, 1rem);
		font-style: var(--sog-rebrand-header-site-name-font-style, normal);
		font-weight: var(--sog-rebrand-header-site-name-font-weight, 600);
		text-transform: var(--sog-rebrand-header-site-name-text-transform, none);
		line-height: 1.25rem; /* 125% */
		letter-spacing: 0.06rem;
		align-self: flex-start;
		height: inherit;
	}

	& .sog-rebrand__header-core--simple-text-vertical-line-special-btn-navigation-name-inline .sog-rebrand__brand-cluster--site-name-description .site-description {
		font-family: var(--sog-rebrand-header-site-description-font-family, 'Open Sans', Arial, sans-serif);
		color: var(--sog-rebrand-header-text-color, inherit);
		font-size: var(--sog-rebrand-header-site-description-font-size, 1rem);
		font-style: var(--sog-rebrand-header-site-description-font-style, normal);
		font-weight: var(--sog-rebrand-header-site-description-font-weight, 600);
		text-transform: var(--sog-rebrand-header-site-description-text-transform, none);
		line-height: 1.25rem; /* 125% */
		letter-spacing: 0.06rem;
		align-self: flex-start;
		height: inherit;
	}
}
